*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
 --main-color:green;
 --grey:rgba(128, 128, 128, 0.9);
 
}

.parentdiv{
/* border: 2px solid green; */
}

.childiv{
   border: 2px solid lightgrey;
   margin-top: 700px;
   display: flex;
   justify-content: center;
   background: lightgray;
}

h3{
    border: 2px solid var(--grey);
    background: var(--grey);
}

.card {
    border: 2px solid red;
    width: 30%;
    height: auto;
    margin: 20px 0;
    border-radius: 20px;
    padding: 20px;
}
.parent-card {
    border: 2px solid green;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px
}

